name: Build and Publish

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Publish
      run: dotnet publish src/BlazorHybridWinFormsDemo.WinForms/BlazorHybridWinFormsDemo.WinForms.csproj --configuration Release --no-build --output ./publish

    - name: Get short commit hash
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $env:GITHUB_OUTPUT

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-output-${{ github.ref_name }}-${{ steps.vars.outputs.sha_short }}
        path: '**/bin/Release'

    - name: Upload publish artifacts
      uses: actions/upload-artifact@v4
      with:
        name: publish-output-${{ github.ref_name }}-${{ steps.vars.outputs.sha_short }}
        path: ./publish
